.tabs{
    background:#fafafa;
    width:100%;
    margin:45px auto 0;
}

input[type="radio"]{
    display: none;
    cursor: pointer;
}


.tabs label{
    text-align: center;
    font-size:15px;
    display: inline-block;
    padding: 1%;
}

/*
label:not(:first-child){
    margin-left:-7px;
}
*/


.tab-label-1{
    background: #EE4035;
}

.tab-label-2{
    background: #F3A530;
    margin-left:-7px;
}

.tab-label-3{
    background: #56b949;
    margin-left:-7px;
}

.tab-label-4{
    background: #30499B;
    margin-left:-7px;
}

.tabs input:checked + label{
    color:white;
}
