extends ../sample_common/layout

block meta
  link(href="https://fonts.googleapis.com/earlyaccess/mplus1p.css",rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css",rel="stylesheet")
  script(src="../javascripts/less.min.js")

block style


block content
  h3 sample3
  p このsampleは
    a(href="http://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html") ここをもとに作成している