 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html,body{
      font-family: "Nico Moji"; 
      width: 100%;
      height: 100%
 }

 .header{
     /*
     position: fixed;
     top:0px;
     left:0px;
     */
     width: 100%;
     height: 40px;
     text-align: center;
     background: greenyellow;
     font-size:20px;
 }


 .container{
     width: 95%;
     margin: 0 auto;
     height: 100%
 }

 .content-wrapper{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     background: #fafafa;
     min-height: 500px;
     /*
     justify-content: center;
     align-items: center;
     height: 100%;
     */
 }

    .tabs{
        background:#fafafa;
        width:100%;
        margin:45px auto 0;
    }

    input[type="radio"]{
        display: none;
        cursor: pointer;
    }


    .tabs label{
        text-align: center;
        font-size:15px;
        display: inline-block;
        padding: 1%;
    }

    /*なんかきかない
    label:not(:first-child){
        margin-left:-7px;
    }
    */


    .tab-label-1{
        background: #EE4035;
    }

    .tab-label-2{
        background: #F3A530;
        margin-left:-7px;
    }

    .tab-label-3{
        background: #56b949;
        margin-left:-7px;
    }

    .tab-label-4{
        background: #30499B;
        margin-left:-7px;
    }

    .tabs input:checked + label{
        color:white;
    }


    .box{
        width:200px;
        height:200px;
        background:yellow;
        position:relative;
        margin:10px;
    }

    .box:before{
       content:"はずれ";
       font-size:10px;
       text-align: center;
       width: 50px ;
       height: 40px;
       background: orange;
       position: absolute;
       right: 0;
       bottom:0;
       border-top-left-radius: 30px;
       padding-top:10px;
    }


    .coupon{
       text-align: center;
       width: 50px ;
       height: 50px;
       background: purple;
       position: absolute;
       right: 0;
       bottom:0;
       border-top-left-radius: 30px;
       padding-top:10px;
    }


    .coupon > p{
        color:white;
        transform: rotate(-40deg);
    }

    @keyframes magic {
    0% {
      opacity: 1;
      transform-origin: 100% 200%;
      transform: scale(1, 1) rotate(0deg);
    }

    100% {
      opacity: 0;
    /*magicのデフォルトを上書き、transform-originのY方向をマイナス（上側にした)*/
      transform-origin: 200% -800%;
      transform: scale(0, 0) rotate(270deg);
    }
}
